body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1d1d1d;
    color: hotpink;
    padding: 1px;
    text-align: left;
    font-size: 13px;
}

.icon{
    width: 50px;
    height: 50px;
    float: right;
    padding-top: 7px;
    padding-right: 55px;
}
.ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    margin-top: 10px;
}

.ul li{
    list-style: none;
    padding-left: 30px;
    margin-left: 30px;
    font-size: 14px;
}

.ul li a{
    text-decoration: none;
    color: hotpink;
    font-family: Arial;
    transition: 0.4s ease-in-out;
}

.ul li a:hover{
    color: white;
}

section {
    padding: 20px;
    text-align: center;
}

section h2{
    color: #1d1d1d;
}

.par {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
}

.pink{
    color: hotpink;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: auto;
    margin: auto;
}

.div img{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.03s;
}

.div a:hover{
    box-shadow: 5px 5px 5px 0px hotpink;
    border-radius: 25px;
    transform: scale(1.03);  
}

footer{
    background-color: #1d1d1d;
    color: hotpink;
    padding: 1px;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    font-size: 20px;
}

footer .rights{
    text-align: right;
    color: lightgrey;
    font-family: Arial;
    font-size: 12px;
    padding-right: 5px;
    margin-right: 5px;

}